:root  {
  --violet: #674AAE;
  --white: #FFF;
  --border: #6c55a5;
}
* {
  margin: 0px;
  padding: 0px;
}
body{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--violet);
}
.container {
  width: 100%;
  background-color: var(--violet);
  background: url(../img/bg-mobile.svg) no-repeat;
  background-size: contain;
}
.container .header .logo {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 120px;
}
.container .hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .hero .wrapper .imgSrc {
  width: 275px;
  margin: 2.5rem 1rem 3rem 1rem;
}
.container .hero .wrapper .hero_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .hero .wrapper .hero_description .title_h1 {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0 1.5rem 1rem 1.5rem;
}
.container .hero .wrapper .hero_description .copy {
  color: var(--white);
  font-size: 14.2px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 1.5rem 1rem 1.5rem;
}
.container .hero .wrapper .hero_description .button {
  font-size: 10.5px;
  color: var(--violet);
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: var(--border);
  padding: 8px;
  width: 190px;
}
.footer {
  color: var(--white);
  margin: 4rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer .span {
  width: 25px;
  height: 25px;
  border: 1px solid var(--white);
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 375px) {
  .container .hero .wrapper .imgSrc {
    width: 325px;
    margin-top: 3.5rem;
  }
  .container .hero .wrapper .hero_description .title_h1 {
    font-size: 25px;
  }
  .container .hero .wrapper .hero_description .copy {
    font-size: 17px;
  }
  .container .hero .wrapper .hero_description .button {
    font-size: 12px;
    width: 190px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    background: url(../img/bg-desktop.svg) no-repeat;
    background-size: cover;
  }
  .container .hero .wrapper {
    flex-direction: row;
  }
  .container .hero .wrapper .imgSrc {
    width: 445px;
    margin-top: 5rem;
  }
  .container .hero .wrapper .hero_description {
    align-items: flex-start;
    margin-left: 1rem;
  }
  .container .hero .wrapper .hero_description .title_h1 {
    font-size: 20px;
    text-align: left;
    margin-left: 0;
    margin-right: 1rem;
  }
  .container .hero .wrapper .hero_description .copy {
    font-size: 10px;
    text-align: left;
    margin-left: 0;
    margin-right: 1rem;
  }
  .container .hero .wrapper .hero_description .button {
    width: 130px;
  }
  .footer {
    position: relative;
    top: 40px;
    margin-top: 0;
    margin-right: 4rem;
    justify-content: flex-end;
  }
  .footer .span {
    margin: 0 5px 0 5px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    background-size: contain;
  }
  .container .header .logo {
    margin-left: 3rem;
  }
  .container .hero .wrapper .imgSrc {
    width: 600px;
    margin-top: 6.4rem;
    margin-left: 3rem;
  }
  .container .hero .wrapper .hero_description .title_h1 {
    font-size: 50px;
    text-align: left;
    /* margin-left: 0; */
    margin-right: 3rem;
  }
  .container .hero .wrapper .hero_description .copy {
    font-size: 22px;
    text-align: left;
    /* margin-left: 0; */
    margin-right: 3rem;
  }
  .container .hero .wrapper .hero_description .button {
    font-size: 16px;
    font-weight: 700;
    width: 240px;
    padding: 14px;
  }
  .footer {
    margin-right: 3rem;
    top: -10px;
  }
}